body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #0a2540;
  color: white;
  padding: 10px;
  text-align: center;
}

#map {
  height: calc(100vh - 60px); /* full screen minus header */
}
#status-banner {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: red;
  color: white;
  display: none;
  z-index: 999;
}
